@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "arialroundedmtbold";
  src: url("../public/arialroundedmtbold.ttf");
}
* {
  font-family: "arialroundedmtbold", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  user-select: none;
}


@keyframes caretFlashSmooth {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
